<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <system.web>
    <identity impersonate="true"/>
  </system.web>
  <appSettings>
    <!--HTTP地址前缀：触角服务-->
    <add key="HttpPrdfixService" value="http://192.168.12.48/antuser"/>
    <!--HTTP地址前缀：客户系统接入-->
    <add key="HttpPrdfixCustoms" value="http://192.168.12.50/platform/business"  />
    <!--Debug日志是否开放-->
    <add key="DebugLogEnable" value="true" />
    <!--Info日志是否开放-->
    <add key="InfoLogEnable" value="true"/>
    <!--Warn日志是否开放-->
    <add key="WarnLogEnable" value="true"/>
    <!--Error日志是否开放-->
    <add key="ErrorLogEnable" value="true"/>
    <!--Fatal日志是否开-->
    <add key="FatalLogEnable" value="true"/>
    <!--是否捕获全局异常（发布时设置为true,开发时为false）-->
    <add key="CatchGlobalExceptions" value="true"/>
  </appSettings>
</configuration>