<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--SDK 公司代码-->
    <add key="SdkCompanyCode" value="1001100000000005078"/>
    <!--SDK APP标识-->
    <add key="SdkAppKey" value="1332210086"/>
    <!--SDK APP密钥-->
    <add key="SdkAppSecret" value="191e646e6e6746f0b3b093ed32dc7942"/>
    <!--SDK HTTP地址前缀-->
    <add key="SdkHttpPrdfix" value="http://192.168.12.48/antapi/"/>
    <!--SDK DataBase地址-->
    <add key="SdkDataBaseAddress" value="C:\ProgramData\hczy\antsdk\"/>
    <!--提示信息模式：true-显示SDK提示，false-不显示SDK提示-->
    <add key="ErrorMode" value="false"/>
    <!--心跳日志是否记录-->
    <add key="HeartBeatLog" value ="true"/>
    <!-- 日志级别开关 -->
    <add key="SdkDebugLogEnable" value="true" />
    <add key="SdkInfoLogEnable" value="false" />
    <add key="SdkWarnLogEnable" value="false" />
    <add key="SdkErrorLogEnable" value="true" />
    <add key="SdkFatalLogEnable" value="false"/>
  </appSettings>
</configuration>