<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <style type="text/css">
        body, html {
            width: 100%;
            height: 100%;
            margin: 0;
            font-family: "微软雅黑";
            font-size: 14px;
            overflow-x: hidden;
            overflow-y: hidden;
        }

        #l-map {
            height: 90%;
            width: 100%;
        }

        .suggestId {
            width: 300px;
            line-height: 28px;
            height: 28px;
            border: 1px solid;
            border-color: #CCC #EEE #EEE #CCC;
            padding: 0 5px;
            margin: 10px 10px 10px 170px;
        }

        #r-result {
            width: 100%;
            height: 50px;
        }
        #searchSpan {
            line-height: 28px;
            height: 28px;
            margin: 10px 0 50px 0;
            background: #00bfff;
        }
        .anchorBL {
            display: none;
        }
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=vqzc06ocFQeSRQBXh495M7kE"></script>
    <!--<script type="text/javascript" src="http://api.map.baidu.com/library/DistanceTool/1.2/src/DistanceTool_min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.js"></script>-->
    <!--<script src="../web_content/js/jquery-2.1.1.min.js"></script>-->
    <!--<link rel="stylesheet" href="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.css" />-->
    <title>关键字输入提示词条</title>
</head>
<body>
    <div id="geo" style="display:none"></div>
    <div id="lng" style="display:none">123</div>
    <div id="lat" style="display:none"></div>
    <div id="r-result"><input type="text" id="suggestId" class="suggestId" size="20" placeholder="请输入要搜索的地点" /></div>
    <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
    <div id="l-map"></div>

</body>
</html>
<script type="text/javascript">
    // 百度地图API功能
    function G(id) {
        return document.getElementById(id);
    }

    var location_x;
    var location_y;

    var map = new BMap.Map("l-map", { enableMapClick: false });
    var point = new BMap.Point(116.331398, 39.897445);
    map.centerAndZoom(point, 15);

    var geolocation = new BMap.Geolocation();
    geolocation.getCurrentPosition(function (r) {
        if (this.getStatus() == BMAP_STATUS_SUCCESS) {
            var mk = new BMap.Marker(r.point);
            map.addOverlay(mk);
            map.panTo(r.point);
            location_x = r.point.lng;
            location_y = r.point.lat;
            document.getElementById("lng").innerText = r.point.lng;
            document.getElementById("lat").innerText = r.point.lat;
            GetByPoint(location_x, location_y, "");
            //alert('您的位置：' + r.point.lng + ',' + r.point.lat);
        }
        else {
            alert('failed' + this.getStatus());
        }

    }, { enableHighAccuracy: true });

    var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
		{
		    "input": "suggestId"
		, "location": map
		});

    ac.addEventListener("onhighlight", function (e) {  //鼠标放在下拉列表上的事件
        var str = "";
        var _value = e.fromitem.value;
        var value = "";
        if (e.fromitem.index > -1) {
            value = _value.province + _value.city + _value.district + _value.street + _value.business;
        }
        str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

        value = "";
        if (e.toitem.index > -1) {
            _value = e.toitem.value;
            value = _value.province + _value.city + _value.district + _value.street + _value.business;
        }
        str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
        G("searchResultPanel").innerHTML = str;
    });

    var myValue;
    ac.addEventListener("onconfirm", function (e) {    //鼠标点击下拉列表后的事件
        var _value = e.item.value;
        myValue = _value.province + _value.city + _value.district + _value.street + _value.business;

        G("searchResultPanel").innerHTML = "onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;
        setPlace();
    });

    function setPlace() {
        map.clearOverlays();    //清除地图上所有覆盖物
        function myFun() {
            var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
            map.centerAndZoom(pp, 15);
            map.addOverlay(new BMap.Marker(pp));
            document.getElementById("lng").innerText = pp.lng;
            document.getElementById("lat").innerText = pp.lat;//添加标注

            GetByPoint(pp.lng, pp.lat, local.getResults().getPoi(0).title);
        }
        var local = new BMap.LocalSearch(map, { //智能搜索
            onSearchComplete: myFun
        });
        local.search(myValue);
    }

    map.addEventListener("click", function (e) {
        map.clearOverlays();
        var allOverlay = map.getOverlays();
        for (var i = 0; i < allOverlay.length; i++) {
            allOverlay[i].enableMassClear();
        }
        var point = new BMap.Point(e.point.lng, e.point.lat);
        //map.centerAndZoom(point, 15);
        var mk = new BMap.Marker(e.point);

        map.addOverlay(mk);
        //map.panTo(e.point);
        location_x = e.point.lng;
        location_y = e.point.lat;
        document.getElementById("lng").innerText = e.point.lng;
        document.getElementById("lat").innerText = e.point.lat;
        GetByPoint(location_x, location_y, "");

        //alert(e.point.lng + "," + e.point.lat);
    });

    function AddInfoWindow(lng, lat, content) {
        var point = new BMap.Point(lng, lat);
        var info = new BMap.InfoWindow(content);
        map.openInfoWindow(info, point);
    }


    function GetByPoint(lng, lat, title) {
        var gc = new BMap.Geocoder();
        pt = new BMap.Point(lng, lat);
        gc.getLocation(pt, function (rs) {
            var addComp = rs.addressComponents;
            if (addComp == null)
                return;
            if (title === "") {
                if (rs.surroundingPois.length > 0)
                    title = rs.surroundingPois[0].title;
            }
            document.getElementById("geo").innerText = title;
            var content;
            if (title !== "") {
                content = title + "<br/>地点：" + addComp.city + addComp.district + addComp.street + addComp.streetNumber;
            } else {
                content = "地点：" + addComp.city + addComp.district + addComp.street + addComp.streetNumber;
                document.getElementById("geo").innerText = addComp.city + addComp.district + addComp.street + addComp.streetNumber;
            }
            var infoWindow = new BMap.InfoWindow("<p style='font-size:14px;'>" + content + "</p>");
            map.openInfoWindow(infoWindow, pt);
        });
    }
    function IP() {
        var myCity = new BMap.LocalCity();
        myCity.get(myFun);
        function myFun(result) {
            var cityName = result.name;
            document.getElementById("geo").innerText = cityName;
            map.setCenter(cityName);

        }

    }
    function GetInnerText() {
        return document.getElementById("r-result").innerText;
    }
    map.enableScrollWheelZoom();   //启用滚轮放大缩小，默认禁用
    map.enableContinuousZoom();
    map.addControl(new BMap.NavigationControl());
    map.addControl(new BMap.MapTypeControl());
    map.addControl(new BMap.ScaleControl());
    map.addControl(new BMap.OverviewMapControl());
</script>
